<!DOCTYPE html>

<html lang="en">




<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

</head>




<body>

    <h2>Connect App Social Media Platform</h2>

    <h4>Hi

        <%= name %>,</h4>

    <p>

        <%= text %>

    </p>

    <p style="color: #FF0000;">Regards &#9829;</p>

    <p>Collins Muchui</p>
    <p>CEO</p>

</body>