/* postPopup.css */

.postPopup {
    position: fixed;
    top: 50px;
    width: 75%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .postPopupWrapper {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }
  
  .postPopup h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .postPopup p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .postPopup button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .postPopup button:hover {
    background-color: #0056b3;
  }
  